<script>
function goBack() {
    window.history.back();
}
</script>

<br />
<input type=button value="Back" class="btn btn-primary" onClick="goBack()">
<!--An alternate way to handle back link <p><%#= link_to 'Back', :back %></p>-->