<script>
   <!-- This script and many more are available free online at -->
   <!-- The JavaScript Source!! http://www.javascriptsource.com -->
   
   function getRandomNum(lbound, ubound) {
     return (Math.floor(Math.random() * (ubound - lbound)) + lbound);
   }
   
   function getRandomChar(number, lower, upper, other, extra) {
     var numberChars = "0123456789";
     var lowerChars = "abcdefghijklmnopqrstuvwxyz";
     var upperChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
     var otherChars = "`~!@#$%^&*()-_=+[{]}\\|;:'\",<.>/? ";
     var charSet = extra;
     if (number == true)
       charSet += numberChars;
     if (lower == true)
       charSet += lowerChars;
     if (upper == true)
       charSet += upperChars;
     if (other == true)
       charSet += otherChars;
     return charSet.charAt(getRandomNum(0, charSet.length));
   }
   
   function getPassword(length, extraChars, firstNumber, firstLower, firstUpper, firstOther,
   latterNumber, latterLower, latterUpper, latterOther) {
     var rc = "";
     if (length > 0)
       rc = rc + getRandomChar(firstNumber, firstLower, firstUpper, firstOther, extraChars);
     for (var idx = 1; idx < length; ++idx) {
       rc = rc + getRandomChar(latterNumber, latterLower, latterUpper, latterOther, extraChars);
     }
     return rc;
   }
   
   function resetFields() {
     document.getElementById("password").value = "";
     document.getElementById("passwordLength").value = "8";
     // $('#passwordLength').val(8); Jquery example
     document.getElementById("extraChars").value = "";
     document.getElementById("firstNumber").checked = true;
     document.getElementById("firstLower").checked = true;
     document.getElementById("firstUpper").checked = true;
     document.getElementById("firstOther").checked = false;
     document.getElementById("latterNumber").checked = true;
     document.getElementById("latterLower").checked = true;
     document.getElementById("latterUpper").checked = true;
     document.getElementById("latterOther").checked = false;
   }
   
</script>

<center>
  <h2>Password & PIN Generator</h2>
   <table width=80% border=0>
      <tr align=center>
         <td>
            <form name="myform">
               <table border=0>
                  <tr>
                     <td>
                        <label class="control-label"> First character can be:</label>
                     </td>
                     <td>
                        <input type="checkbox" id="firstNumber" checked>Number
                        <input type="checkbox" id="firstLower" checked>Lowercase
                        <input type="checkbox" id="firstUpper" checked>Uppercase
                        <input type="checkbox" id="firstOther">Special
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <label class="control-label">Latter characters can be:</label>
                     </td>
                     <td>
                        <input type="checkbox" id="latterNumber" checked>Number
                        <input type="checkbox" id="latterLower" checked>Lowercase
                        <input type="checkbox" id="latterUpper" checked>Uppercase
                        <input type="checkbox" id="latterOther">Special
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <label class="control-label">Password length:</label>
                     </td>
                     <td>
                        <select id="passwordLength" class="form-control">
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option selected>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                          <option>13</option>
                          <option>14</option>
                          <option>15</option>
                          <option>20</option>
                          <option>25</option>
                          <option>32</option>
                          <option>64</option>
                          <option>128</option>
                          <option>256</option>
                          <option>512</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <!--<label class="control-label" >Extra password characters:</label>-->
                     </td>
                     <td>
                        <input type="hidden" id="extraChars" size=20 class="form-control" type="hidden">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <label class="control-label">New password or PIN:</label>
                     </td>
                     <td>
                        <!--<input type="textarea" id="password" size=20 class="form-control">-->
                        <textarea rows="1" id="password" class="form-control"></textarea>
                        <input type=button value="Generate" class="btn btn-success" onClick='document.getElementById("password").value = getPassword(document.getElementById("passwordLength").value, 
                         document.getElementById("extraChars").value, document.getElementById("firstNumber").checked, document.getElementById("firstLower").checked,document.getElementById("firstUpper").checked, 
                         document.getElementById("firstOther").checked, document.getElementById("latterNumber").checked, document.getElementById("latterLower").checked, document.getElementById("latterUpper").checked, 
                         document.getElementById("latterOther").checked);'>
                         <input type=button value="Reset" class="btn btn-default" onClick="resetFields()">
                     </td>
                  </tr>
               </table>
            </form>               
         </td>
      </tr>
   </table>
</center>