<% body = 
"## Cancelling Your Account

Add directions here.
" %>
<%= markdown(body) %><br />

<p><%= image_tag("cancel_account1.png", alt: "Cancelling Account Screen", style: "border: 1px solid black") %></p>

<%= render "help/footer" %>