<% body = 
"## Cancel Your Account

**Warning** - Cancelling your account will delete all your data.  Once deleted, it can not be recovered.  Please proceed with caution.

To cancel you account, perform the following steps:
1. Click the 'Edit Profile' link from the menu.
2. Press the 'Cancel my account' button
3. Press the 'OK' button to confirm your intention
" %>
<%= markdown(body) %><br />

<p><%= image_tag("cancel_account1.png", alt: "Cancelling Account Screen", style: "border: 1px solid black") %></p>

<%= render "help/footer" %>