<% body = 
"## Changing Your Password & Email

Add directions here.
" %>
<%= markdown(body) %><br />

<p><%= image_tag("edit_profile1.png", alt: "Editing Profile Screen", style: "border: 1px solid black") %></p>

<%= render "help/footer" %>
