<% body = 
"## Change Your Password & Email

You can change your password and email information by clicking the 'Edit Profile' link from the menu.
Press the 'Update' button after entering the desired changes, and your current password.
" %>
<%= markdown(body) %><br />

<p><%= image_tag("edit_profile1.png", alt: "Editing Profile Screen", style: "border: 1px solid black") %></p>

<%= render "help/footer" %>
