<% body = 
"## Create New Records

Press the 'New' button located at the bottom of the 'My Data' view.
The 'Type' and 'Description' are required fields.
The 'Notes' field can be formatted using [Markdown](https://en.wikipedia.org/wiki/Markdown).
Press the 'Save' button to save your data.
" %>
<%= markdown(body) %><br />

<p><%= image_tag("new_record1.png", alt: "New Record Screen", style: "border: 1px solid black") %></p>

<%= render "help/footer" %>
