<% body = 
"## Deleting Records

Press the 'X'(Delete) icon located at the right of the 'My Data' view.
You will be asked to confirm your deletion.
Please be careful when deleting.  Once deleted, it is gone forever.
" %>
<%= markdown(body) %><br />

<p><%= image_tag("deleting_record1.png", alt: "Deleting Screen") %></p>
<%= render "help/footer" %>
