<h2>Editing Records</h2>
<p><%= image_tag("editing_record1.png", alt: "Editing Screen", style: "border: 1px solid black") %></p>
<p><%= image_tag("editing_record2.png", alt: "Editing Screen", style: "border: 1px solid black") %></p>

<h3>Sub-Topic</h3>
Text

<br />
<%= render "help/footer" %>
