<% body = 
"## Exporting Your Data

Press the 'Export To CSV' button located at the bottom of the 'My Data' view.
Your data will be downloaded to your local device in CSV format.
The CSV file can be easily opened in Excel or other software.
Please note the CSV file is not encrypted.
" %>
<%= markdown(body) %><br />

<p><%= image_tag("exporting1.png", alt: "Exporting Screen", style: "border: 1px solid black") %></p>
<p><%= image_tag("exporting2.png", alt: "Exporting Screen", style: "border: 1px solid black") %></p>
<%= render "help/footer" %>
