<% body = 
"## Is bSecure really free?

Yes, bSecure is completely free.  In fact the [source code](https://github.com/per4mnce/bSecure) is also freely available.

You can show your appreciation for bSecure and support future development by buying the developer a cup of coffee.
Any amount is very much appreciated." %>

<%= markdown(body) %>

<p><%= link_to "Donate Now", "/donate" %></p>

<%= render "help/footer" %>
