<h2>FAQs (Frequently Asked Questions)</h2>
<br />
<h3>General</h3>
<ol>
  <li><%= link_to "Can I trust bSecure to safely store my private information?", "FAQ_trust" %></li>
  <li><%= link_to "What is the signifigance of your PIN?", "FAQ_pin" %></li>
  <li><%= link_to "Is bSecure really free?", "FAQ_why_free" %></li>
</ol>
<%= render "help/footer" %>