<h2>Help Index</h2>
<br />
<p><%= link_to "FAQs (Frequently Asked Questions)", "FAQ_index" %></p>
<p><%= link_to "Terms of Service", "terms_of_service" %></p>
<p><%= link_to "Why your PIN is important", "pin" %></p>

