<% body = 
"## Log Out

You should log out when you are done. The log out button is located in the right side of the menu bar.
You will automatically be logged out after five minutes of inactvity" %>
<%= markdown(body) %><br />

<p><%= image_tag("logout1.png", alt: "Log Out Screen", style: "border: 1px solid black") %></p>

<%= render "help/footer" %>