<h2>Encryption & Your PIN</h2>

<h3><b>Encryption</b></h3>
<a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES 256 bit encryption</a> is used to encrypt your data.  It is very secure.

<h3><b>Your PIN</b></h3>
This application uses your PIN as part of the key that securely encrypts your data. Your PIN is not stored by this application.  This means if you loose or forget you pin, 
your data is lost forever.  There is no way to recover it.

<%= render "help/footer" %>
