<% body = 
"## Sort Data

You can sort your information by 'Category' or 'Description' by clinking on the column header name.
You can sort ascending (a to z) or descending (z to a) by clicking on the column header name.
The sorted column will contain an arrow to the right of the column name.
Your data is initially sorted by 'Category'
" %>
<%= markdown(body) %><br />

<p><%= image_tag("sorting1.png", alt: "Sorting Screen") %></p>

<%= render "help/footer" %>
