<h2>Terms of Service</h2>

<h3><b>Privacy</b></h3>
The privacy policy is simple and straightforward:
<ul>
  <li>Your information is not given away or sold to anyone for any reason</li>
  <li>Your email address is only used to communicate with you about this site</l1>
</ul>

<h3><b>Termination</b></h3>
You may choose to terminate your account at any time by logging in, clicking the "Edit Profile" link from the menu bar and then clicking the "delete my account" button.  
All your information will be deleted immediately.  Once deleted, the information cannot be recovered.  Be careful.

<h3><b>Disclaimer</b></h3>
Although we do our very best to keep this site and your data secure, please be aware that you use this site at your own risk.  No warranty of any kind is offered.
The bSecure application may be terminated at any time with little or no warning.

<h3><b>Contact The Developer</b></h3>
Your suggestions and comments are always welcome.  
Please go to the "feedback page" to share your comments.

<%= render "help/footer" %>
