<h2>Terms of Service</h2>

<h3>Privacy</h3>
The privacy policy is simple and straightforward:
<ul>
  <li>Your information is not given away or sold to anyone for any reason</li>
  <li>Your email address is only used to communicate with you about this site</l1>
</ul>

<h3>Termination</h3>
You may choose to terminate your account at any time by logging in, clicking the "Edit Profile" link from the menu bar and then clicking the "delete my account" button.  
All your information will be deleted immediately.  Please be careful.  Once deleted, your information cannot be recovered.

<h3>Disclaimer of Warranties</h3>
YOU EXPRESSLY AGREE THAT YOUR USE OF THE SITE AND/OR SERVICES IS AT YOUR SOLE RISK. THE SITE AND SERVICES ARE PROVIDED BY US ON AN "AS IS" AND "AS AVAILABLE" BASIS. 
WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTIES OF MERCHANTABILITY, 
FITNESS FOR A PARTICULAR USE OR PURPOSE, NON-INFRINGEMENT, TITLE, OPERABILITY, CONDITION, QUIET ENJOYMENT, VALUE, ACCURACY OF DATA AND SYSTEM INTEGRATION. 
WE MAKE NO WARRANTY THAT THE SITE AND/OR SERVICES WILL MEET YOUR REQUIREMENTS, OR THAT THE SITE AND/OR SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE; 
NOR DO WE MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SITE OR SERVICES, OR THAT DEFECTS IN THE SITE OR SERVICES WILL BE CORRECTED. 
YOU UNDERSTAND AND AGREE THAT ANY CONTENT OR INFORMATION DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SITE OR SERVICES IS DONE AT YOUR OWN DISCRETION 
AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SERVICES OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL 
AND/OR INFORMATION. NO CONTENT, ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US THROUGH THE SITE, SERVICES, OR OTHERWISE WILL CREATE ANY WARRANTY, 
REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN THESE TERMS OF SERVICE.

<h3>Contact The Developer</h3>
Your suggestions and comments are always welcome.  
Please go to the <%= link_to "'Contact page'", contact_path %> to share your comments.
<br />
<%= render "help/footer" %>
