<div class = "col-md-4">
  <p><%= image_tag("bsecure.jpg", :alt => "Password manager with AES encryption") %></p>
  <p>bSecure for Web version 1 (rev001)</p>
  <p>Copyright 2015 <%= link_to "Henry Schaumburger", "http://www.apcp.biz" %></p>
  <%= link_to "Terms of Service", "/help/terms_of_service" %>
</div> <!-- col-md-4-->
<div class = "col-md-8">
  <p>Use bSecure to safely store sensitive and important information like web logins, passwords, credit card numbers and 
  any other data you want quick, easy access to. Features include:</p><br />
  <div class="row">
    <div class = "col-md-4">
      <p>- Secure <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard" target="_blank">(AES-256) encryption</a></p>
      <p>- Your PIN is required to decrypt</p>
      <p>- Your PIN is not stored by us</p>
    </div>
    <div class = "col-md-4">
      <p>- Easy To Use</p>
      <p>- Searching and Sorting</p>
      <p>- Filtering</p>
    </div>
    <div class = "col-md-4">
      <p>- Password Genertor</p>
      <p>- Export to CSV</p>
      <p>- <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown capability</a> in Notes</p>
    </div>
  </div> <!-- row-->
  <p></p>
  <h3>Technical Details</h3>
  <p>The following Ruby Gems are used in this application.
  This Ruby on Rails application would not have been possible without the contributions of the authors.  Thank you for all your tireless work.</p>
  <ul>
    <li><a href="https://rubygems.org/gems/attr_encrypted">attr_encrypted (Encryption)</a></li>
    <li><a href="https://rubygems.org/gems/wice_grid">wice_grid (Smart Tables)</a></li>
    <li><a href="https://rubygems.org/gems/redcarpet">redcarpet (Markdown parser)</a></li>
    <li><a href="https://rubygems.org/gems/devise/versions/3.5.2">devise (Authentication)</a></li>
  </ul>
  <h3>My Rails Mentor</h3>
  <p>I would like to sincerely thank <a href="https://www.bloc.io/mentors/chris-beck">Chris Beck</a> from <a href="https://www.bloc.io">BLOC</a> for all his tireless help and support.</p>
</div> <!-- col-md-8-->