<h2>Contact Information</h2>
<p>bSecure contact email: <%= image_tag("email.jpg", :alt => "email") %></p>
Please send email about bug reports, feature requests, suggestions and other feedback.<br />
If you find a bug, please include a description of the problem and how to reproduce it.
Also, please include a brief description of your system (Operating System and Browser versions).




