<div class="jumbotron">
  <div class = centerfy>
    <h1>bSecure</h1>
     <p class="lead centerfy">FREE Password manager with AES 256 bit encryption</p>
    <%= image_tag("bsecure.jpg", :alt => "Password manager with AES encryption") %> <br /></br />
    <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary'  %>
  </div>
</div>