<div class="jumbotron">
  <div class = centerfy>
    <h1>bSecure</h1>
    <p class="lead centerfy">Password manager with 256 bit AES encryption</p>
    <%= image_tag("bsecure.jpg", :alt => "Password manager with AES encryption") %> <br /></br />
    <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary'  %>
  </div>
</div>