<p><b>Tips</b></p>
<ul>
  <li>'Type', 'Description' are <b>not</b> encrypted.</li>
  <li>Format 'Notes' field with <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a></li>
</ul>
