<h1>Edit</h1>
 <div class="row">
   <div class="col-md-4">
     <p><b>Created</b></p>
     <%= @secret.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%Y-%m-%d at %I:%M%p") %> <br/>
     <br/>
     <p><b>Updated</b></p>
     <%= @secret.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%Y-%m-%d at %I:%M%p") %> <br /><br />
     <%= render "form_tips" %>
   </div>
   <div class="col-md-8">
    <%= render "form" %>
   </div>
 </div>