<%= grid(@secrets_grid, show_filters: :when_filtered) do |g|
  
  g.column do |secret|
    link_to("", edit_secret_path(secret), class: 'glyphicon glyphicon-pencil')
  end

  g.column name: 'CATEGORY', attribute: 'catname', custom_filter: :auto do |secret|
    secret.catname
  end
  
  g.column name: 'DESCRCIPTION', attribute: 'description' do |secret|
    if secret.description
      formatField(10, secret.description)
    end
  end
  
  g.column name: 'USERNAME', attribute: 'username', ordering: false, filter: false do |secret|
    formatField(10,secret.username)
  end
  
  g.column name: 'PASSWORD', attribute: 'pw', ordering: false, filter: false do |secret|
    formatField(10,secret.pw)
  end
  
  g.column name: 'URL', attribute: 'url', ordering: false, filter: false do |secret|
    formatField(10,secret.url)   
  end
  
  g.column name: 'NOTES', attribute: 'notes', ordering: false, filter: false do |secret|
    markdown(formatField(25,secret.notes))
  end
  
  g.column do |secret|
    link_to("", secret, method: :delete, class: 'glyphicon glyphicon-remove', data: { confirm: 'Are you sure you want to delete this record?' })
  end

end -%>

<%= link_to "New", new_secret_path, class: 'btn btn-primary' %>
<button class="wg-external-csv-export-button btn btn-primary" data-grid-name="g1">Export To CSV</button>
